body {
    background-image: url("../img/babymeme.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center; 
    background-attachment: fixed;
} 

h1 {
    color:indianred; 
    background-color:darkmagenta;
    width: 20%;
}

