body {
    background-image: url("../img/uglywallpaper.jpg");
    background-repeat: repeat;
    background-position: center; 
    background-attachment: fixed;
} 

h1 {
    color:indianred; 
    background-color:darkmagenta;
    width: 20%;
    margin:auto; 
}

p {
    color: greenyellow; 
    background-image: url("../img/coolcheetah.jpg");
    width: 40%;
    padding: 10%;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}
