body {
    background-image: url("../img/babymeme.jpg");
    background-repeat: repeat;
    background-position: center; 
    background-attachment: fixed;
} 

h1 {
    color:indianred; 
    background-color:darkmagenta;
    width: 20%;
}

p {
    color: greenyellow; 
    background-color:blue;
    width: 50%;
}

